:root{
  --search: #e5e5e5;
  --sidebar: #0e263b;
  --bell: #ff8f00;
  --top-bar: #1b72e8;
  --box: #929292;
  --icons: #6c757d;
}

body{
  font-family: 'Roboto', sans-serif;
  overflow-y: auto;
}

/*********************
        GENERALS
 ********************/
.debug{
  border: 1px dashed black;
}



.bell i{
  color: var(--bell);
}

ul li{
  list-style: none;
}

.avatar{
  width: 25px;
  height: 25px;
}

/*********************
        GENERALS
 ********************/

/*********************
        HEADER
 ********************/
header{
  height: 70px;
}

.searchbar{
  background-color: var(--search) ;
}

.searchbar input{
  border: none;
  background-color: inherit;
}

.logo img:last-child{
  width: 50px;
  height: auto;
}

/*********************
        /HEADER
 ********************/

.sidebar{
  width: 100px;
  padding-top: 20px;
  background-color: var(--sidebar);
  background-image: url(../img/sidebar-bg.png);
}

.main-content,
.sidebar{
  height: calc(100vh - 70px);
}

.top-bar{
  background-color: var(--top-bar);
}