:root{
  --search: #e5e5e5;
  --sidebar: #0e263b;
  --bell: #ff8f00;
  --top-bar: #1b72e8;
}



/*********************
        GENERALS
 ********************/
.debug{
  border: 1px dashed black;
}

header{
  height: 70px;
}

.bell i{
  color: var(--bell);
}

/*********************
        GENERALS
 ********************/

/*********************
        HEADER
 ********************/
.searchbar{
  background-color: var(--search) ;
}

.searchbar input{
  border: none;
  background-color: inherit;
}

/*********************
        /HEADER
 ********************/

.sidebar{
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: var(--sidebar);
}

#content{
  margin-left: 150px;
}

#content .top-bar{
  height: 120px;
  background-color: var(--top-bar);
}