:root{
  --search: #e5e5e5;
  --sidebar: #0e263b;
  --bell: #ff8f00;
  --top-bar: #1b72e8;
  --box: #929292;
  --icons: #6c757d;
}

body{
  font-family: 'Roboto', sans-serif;
  overflow-y: auto;
}

/*********************
        GENERALS
 ********************/
.debug{
  border: 1px dashed black;
}

header{
  height: 70px;
}

.bell i{
  color: var(--bell);
}

ul li{
  list-style: none;
}

.avatar{
  width: 25px;
  height: 25px;
}

/*********************
        GENERALS
 ********************/

/*********************
        HEADER
 ********************/
.searchbar{
  background-color: var(--search) ;
}

.searchbar input{
  border: none;
  background-color: inherit;
}

/*********************
        /HEADER
 ********************/

.sidebar{
  max-width: 100%;
  height: 100vh;
  width: 90px;
  padding-top: 20px;
  background-color: var(--sidebar);
}

.content .top-bar{
  height: 120px;
  background-color: var(--top-bar);
}


.box{
  border: 1.5px solid #cbcbcb;
  border-radius: 5px;
}

.icons i{
  border: 1px solid #6c757d;
  color: var(--icons);
  padding: 5px;
  border-radius: 5px;
}

.right{
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}